* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 18%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%); 
}